# Data Science Process
1. Ask a question
	- What is the goal?
	- What woul dyou do if you had all data?
	- What do you want to predice or estimate?

Think of the relationship between different variables; how does x impact y?
	- Does eating dinner late impact your ability to fall asleep early?
	- Do the most popular songs in the US affect what is most popular song worldwide?

2. Determine the necessary data
	- What sample size is needed?
	- What data do we need to prove or refute the hypothesis

When forming your hypothesis, it's important to find data that will disprove your hypothesis.  It's infeasible to to be 100% correct with, so what you need to do is be highly certain event x will impact event y.
	- Margin of error: The maoun that the results of our survey will differ from the real population value
	- Confidence level: The probability that if we were to run another survey with the same metrics it would return the same results
	- Population size: Size of the population we're collecting data on
	- Likely sample proportion: The percentage of people surveyed whose results we anticipate matching the expected outcome

Our Date-a-Scientist dataset has 200 entries, meaning that our current sample size is equal to 200. If we have a 5% margin of error, 95% confidence level, and a likely sample proportion of 50%, what size does our overall population need to be?
	A. 132
What if the population of Date-a-Scientist users is closer to 5,000? Keeping the same values for margin of error, confidence level, and likely sample proportion, what should the size of our sample be?
	A. 367
This exercise included a calculator that determined what hte sample size should be.  It would be nice to have the algorithms available.

3. Get the data
	- How were the data sampled?
	- Which data are relevant
	- Are there privacy issues?

4. Clean and organize data
	- Is the data readable
	- Get rid of uncessary values
	- Transform tabular data

5. Explore data
	- Plot the data
	- Are there anomalies?
	- Are there patterns?

6. Model data
	- Build a model
	- Fit the model
	- Validate the model

7. Communicate your findings
	- What did we learn?
	- Do the results make sense?
	- Can we tell a story?

In [ ]:
import pandas as pd

# Think of questions that could be formed using the dataset

In [6]:
df = pd.read_csv('data.csv')

In [7]:
df.head()

           city        education  age
0  Brooklyn, NY          college   31
1  Brooklyn, NY  graduate degree   31
2  Brooklyn, NY  graduate degree   32
3  Brooklyn, NY          college   37
4  Brooklyn, NY          college   21

In [ ]:
# What city has the most graduate degrees
# What city has the most college students
# What is the averag age does

# Is there a correlation between a user’s location (rural or urban) and their age?
Our current dataset doesn’t tell us whether our user lives in a rural or urban area—it only tells us the town or city they live in.

How can we determine if our user lives in an urban or rural area? One thing we can do is cross-reference our dataset with another dataset that contains information about the population size of the place where our users live.

This [Simple Maps website](https://simplemaps.com/data/us-cities) contains a United States Cities database. Click on the link and scroll down the page to see a sample of the dataset. What information from this dataset can we use to figure out whether or not a user lives in a rural or urban area?

You can take a look at the dataset in the text editor. Or better yet, download the dataset to your computer and explore the file on your own!

In [8]:
df = pd.read_csv('pop_data.csv')
df.head(5)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659